<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">World News At It's Best
            <small>Award Winning Coverage</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <%= image_tag "bn.jpg", class: "img-rounded" %>
    </div>

<div class="col-md-4">
  <h3>Latest Comments</h3>
    <% @comments.each do |comment| %>
      <ul>
        <li><%= truncate(comment.body, length: 50) %></li>
      </ul>
    <% end %>        
</div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">Breaking News</h3>
</div>
<% @newsvilles.each do |news| %>

<div class="panel panel-default col-md-3">
  <div class="panel-heading">
    <h3 class="panel-title"><%= link_to news.title, news %></h3>
  </div>
  <div class="panel-body text-center">
    <%= image_tag news.image_url %>
  </div>
</div>
<% end %>

</div>
<!-- /.row -->

<hr>